
<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <img src="images/home.png" class="img-responsive w-100"/>
        </div>

        <div class="col-md-6 col-xs-6 text-center mt-5 text-light">
            <h1>Your Parking Compass</h1>
            <p>Finding parking spots nowadays is rather complicated. We decided to help you navigate
                yourself to the closest free parking space with our web application called Your Parking Compass</p>

            <p>Your parking compass makes parking easy, anytime, anywhere in Macedonia.</p>
            <form action="/parking/locate" method="GET">
                <button class="learn-more border border-white bg-teal" type="submit">Start using the compass!</button>
            </form>
        </div>
    </div>
</div>
